<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>환율 계산</h1>

<div>
    <table style="width:100%">
        <tr>
            <td>송금 국가</td>
            <td>
                <div>
                    <select name="sourceCurrency" id="sourceCurrency">
                        <option th:each="sourceCurrency:${sourceCurrencies}" th:value="${sourceCurrency.name()}"
                                th:text="${sourceCurrency.toViewString()}"></option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>수취 국가</td>
            <td>
                <div>
                    <select name="targetCurrency" id="targetCurrency">
                        <option th:each="targetCurrency:${targetCurrencies}" th:value="${targetCurrency.name()}"
                                th:text="${targetCurrency.toViewString()}"></option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>환율</td>
            <td><span id="exchangeRateText">exchangeRateText</span> <span id="exchangeUnitText">exchangeUnitText</span>
            </td>
        </tr>
        <tr>
            <td>송금액</td>
            <td>
                <input type="text" id="amount" name="amount">
            </td>
        </tr>
    </table>
    <button id="exchangeButton">Submit</button>
</div>
<br>
<br>
<br>
<div id="resultDiv" style="display: none">
    <span>수취 금액은 <span id="resultText">100</span> <span id="currencyText">USD</span>입니다.</span>
</div>

<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/js/exchange.js"></script>

</body>

</html>